{% extends "restx/swagger.html" %}

{% block head %}
  {{ super() }}
  <link rel="icon" type="image/svg+xml"
        href="{{ url_for('static', filename='img/favicon.svg') }}">
{% endblock %}

{% block body %}
  {{ super() }}

  <style>
    /* Esconde o logo padrão (imagem do Swagger) */
    .topbar-wrapper img {
      display: none !important;
    }

    /* Cria um logo novo usando o ::before */
    .topbar-wrapper .link::before {
      content: "";
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      vertical-align: middle;
      background-image: url("{{ url_for('static', filename='img/favicon.svg') }}");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    /* Ajusta o texto ao lado do logo */
    .topbar-wrapper .link span {
      font-weight: 600;
      font-size: 18px;
    }
  </style>
{% endblock %}
